In [6]:
from functions import *
from clio import *
import numpy as np
import pandas as pd
from functions import read_files, save_to_excel, successful_tour_looks_like, which_tours_go_together, edit_dfs, which_tours_do_we_recommend_to_a_traveller, add_df2_profit

In [7]:
#From here and on, our script starts executing
dataframe1, dataframe2 = read_files()

In [47]:
#how does a successful tour look like?
successful_tour_looks_like(dataframe1, dataframe2)

In [45]:
#which tours go together?
go_together = which_tours_go_together(dataframe1, dataframe2)

In [44]:
#do a minor edit in df1 so as to have all split product codes saved as a set
dataframe1, dataframe2 = edit_dfs(dataframe1, dataframe2)

In [36]:
#add profit to dataframe2
dataframe2 = add_df2_profit(dataframe1, dataframe2)

In [37]:
#which tours do we recommend to a traveller?
which_tours_do_we_recommend_to_a_traveller(dataframe1, dataframe2, go_together)

In [ ]:
save_to_excel(dataframe1, dataframe2)

In [42]:
dataframe1.head(5)

,id,reference_code,travel_date,booking_date,booking_status,split_product_code,language,tours,product_title,product_type,...,product_code,Unnamed: 1,Country,Ticket Price,Profit,split_product_codes,booking_day,booking_hour,travel_day,travel_hour
0,98825,GYGX7Q4WHBX3,NaT,2022-12-13 23:11:00,ACTIVE,STL284,English,284,Castel Sant’ Angelo: Skip-the-Line Ticket & Au...,Skip-the-Line,...,STL284_288DE,Castel Sant’ Angelo: E-ticket + Rome City Tour,Italy,34.0,24.0,"{288DE, STL284}",Tuesday,23,NaN,NaN
1,98825,GYGX7Q4WHBX3,NaT,2022-12-13 23:11:00,ACTIVE,STL284,English,284,Castel Sant’ Angelo: Skip-the-Line Ticket & Au...,Skip-the-Line,...,STL284_288EN,Castel Sant’ Angelo: E-ticket + Rome City Tour,Italy,34.0,24.0,"{288EN, STL284}",Tuesday,23,NaN,NaN
2,98825,GYGX7Q4WHBX3,NaT,2022-12-13 23:11:00,ACTIVE,STL284,English,284,Castel Sant’ Angelo: Skip-the-Line Ticket & Au...,Skip-the-Line,...,STL284_288IT,Castel Sant’ Angelo: E-ticket + Rome City Tour,Italy,34.0,24.0,"{288IT, STL284}",Tuesday,23,NaN,NaN
3,98825,GYGX7Q4WHBX3,NaT,2022-12-13 23:11:00,ACTIVE,STL284,English,284,Castel Sant’ Angelo: Skip-the-Line Ticket & Au...,Skip-the-Line,...,STL284DE,Castel Sant’ Angelo: Skip-the-Line Ticket & Au...,Italy,29.0,29.0,{STL284DE},Tuesday,23,NaN,NaN
4,98825,GYGX7Q4WHBX3,NaT,2022-12-13 23:11:00,ACTIVE,STL284,English,284,Castel Sant’ Angelo: Skip-the-Line Ticket & Au...,Skip-the-Line,...,STL284EN,Castel Sant’ Angelo: Skip-the-Line Ticket & Au...,Italy,29.0,29.0,{STL284EN},Tuesday,23,NaN,NaN

In [39]:
dataframe2.head(5)

,Practical Information,Product Code and Name,Unnamed: 2,Qualitative Information - Findings,Unnamed: 4,Unnamed: 5,Experience,month,Unnamed: 0,Reviews,Unnamed: 7,Unnamed: 8,Unnamed: 9,Product Code,Name of Product,split_product_code,Country,language,split_product_codes,Profit
0,Important Information,Name of Product Reviewed,Review,Content,Technology,Customer Support,Overall Experience,January,NaN,NaN,NaN,NaN,NaN,Name of Product Reviewed,None,Name of Product Reviewed,NaN,NaN,{Name of Product Reviewed},NaN
1,False,STL55 | Athens National Archaeological Museum ...,Without the Audio Guide I would not have under...,NaN,NaN,NaN,Excellent (5 stars),January,NaN,NaN,NaN,NaN,NaN,STL55,Athens National Archaeological Museum Ticket ...,STL55,NaN,NaN,{STL55},26.0
2,False,TO240_181_51_459 | Acropolis & 6 Archaeologica...,"I liked it a lot, you know different things ab...",NaN,NaN,NaN,Positive (4 stars),January,NaN,NaN,NaN,NaN,NaN,TO240_181_51_459,Acropolis & 6 Archaeological Sites Combo Ticket,TO240,Greece,English,"{51, TO240, 181, 459}",12.0
8,False,TO240_181_51_459 | Acropolis & 6 Archaeologica...,"I liked it a lot, you know different things ab...",NaN,NaN,NaN,Positive (4 stars),January,NaN,NaN,NaN,NaN,NaN,TO240_181_51_459,Acropolis & 6 Archaeological Sites Combo Ticket,TO240,Greece,Spanish,"{51, TO240, 181, 459}",12.0
60,False,TO240_181_51_459 | Acropolis & 6 Archaeologica...,"I liked it a lot, you know different things ab...",NaN,NaN,NaN,Positive (4 stars),January,NaN,NaN,NaN,NaN,NaN,TO240_181_51_459,Acropolis & 6 Archaeological Sites Combo Ticket,TO240,Greece,Italian,"{51, TO240, 181, 459}",12.0